.calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h2 {
    text-align: center;
}
.currentMonth h2 {
    color: green;
}
table {
    margin: 0 auto;
}
table thead {
    font-size: 14px;
}
table tbody td {
    border-bottom: 1px solid gray;
    width: 15px;
    height: 15px;
    text-align: center;
}
table tbody td.red {
    background-color: rgba(255, 0, 0, 0.3);
}
table tbody td:hover {
    cursor: pointer;
}
.today {
    font-weight: bold;
}
.holiday {
    color: red;
}